h3{
    color: rgb(76, 43, 226); 
    background-color: rgb(129, 27, 27);
}
.prasad{
    color: rgb(76, 43, 226); 
    background-color: rgb(42, 27, 129);
}
.hai{
    color:blue;
    background-color: rgb(94, 87, 87);
}
.hello{
    color: rgb(76, 43, 226); 
    background-color: rgb(27, 129, 95);
}